.articles {
  padding: 20px;
  background-color: #f0f0f0;
  min-height: 100vh; /* Minimum height to cover the full view height */
}

.articles h1 {
  color: #333;
  text-align: center;
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.article-card {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 8px;
}

.article-card h2 {
  color: #2f4469;
}

.article-card p {
  color: #666;
}

.article-content {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.article-content h2 {
  color: #2f4469;
}

.article-content p {
  color: #666;
}

.button-back {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #2f4469;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button-back:hover {
  background-color: #1f2f4f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-back:active {
  background-color: #1a243b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}
