.contacts-page {
  padding: 20px;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.contacts-page h1 {
  color: #333;
  text-align: center;
}

.contact-info {
  margin-bottom: 20px;
  text-align: center; /* Center the text */
}

.contact-info h2 {
  color: #2f4469;
}

.contact-info p {
  color: #666;
}

.contact-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%; /* Ensure form takes full width up to 600px */
}

.contact-form h2 {
  color: #2f4469;
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  color: #666;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  background-color: #2f4469;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #1f2f4f;
}
